# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE / System
.vscode/
.idea/
.DS_Store

# Node/Vue
node_modules/
dist/

# Python cache
__pycache__/
*/__pycache__/
